<div class="trips-page">
  <div  *ngIf="loading()">Loading...</div>
  <button 
          class="favorites-btn"
          *ngIf="me$ | async as me"
          type="button"
          (click)="showOnlyFavorites.set(!showOnlyFavorites())"

  >{{ showOnlyFavorites() ? 'הצג את כל הטיולים' : 'הצג רק מועדפים ❤️' }}</button>
  <input
    class="search-wrapper"
    type="text"
    placeholder="🔍 חפש טיול לפי שם..."
    [value]="searchText()"
    (input)="searchText.set($any($event.target).value)"
  />
  <div class="cardContiner" *ngIf="!loading()">
    <app-trip-card
      *ngFor="let trip of filteredTrips"
      [trip]="trip"
    ></app-trip-card>
  </div>


  <button
    *ngIf="me$ | async"
    class="feedback-floating-btn"
    (click)="toggleFeedback()"
  >
  💬
  </button>

  <div *ngIf="showFeedbackBox()" class="feedback-popup">

    <textarea
      [value]="feedbackMessage()"
      (input)="feedbackMessage.set($any($event.target).value)"
      placeholder="כתוב הודעה לאדמין..."
    ></textarea>

    <button (click)="sendFeedback()" [disabled]="sending()">
      שלח
    </button>

  </div>
</div>  