<div *ngIf="loading()">Loading...</div>
<button *ngIf="me$ | async as me"
        type="button"
        (click)="showOnlyFavorites.set(!showOnlyFavorites())"

>{{ showOnlyFavorites() ? 'הצג את כל הטיולים' : 'הצג רק מועדפים ❤️' }}</button>
<input
  class="search-wrapper"
  type="text"
  placeholder="🔍 חפש טיול לפי שם..."
  [value]="searchText()"
  (input)="searchText.set($any($event.target).value)"
/>
<div class="cardContiner" *ngIf="!loading()">
  <app-trip-card
    *ngFor="let trip of filteredTrips"
    [trip]="trip"
  ></app-trip-card>
</div>
